html, body {
    /* margin: 0; */
}

html {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
/*     font-family: "Yahei Mono"; */
/*     font-family: Arial; */
}

body {
    /* overflow: hidden; */
    font-size: 84%;
}

/* ============================== */

.header {
    margin: 15px;
    padding: 1px;
    width: 90%;
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

.dustbin {
    margin: 5px;
    background-color: floralwhite;
    min-height: 16px;
    text-align: left;
    font-size: 14px;
    overflow-wrap: break-word;
    /* word-break: normal; */
}

.dustbin a {
    margin: 5px;
}

.table {
    margin: 10px;
    width: fit-content;
    border: thick double #32a1ce;
    display: flex;
}

.dragColumn {
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: move;
    width: 60px;
    /* display: inline-block; */
}

.dragColumn:hover {
    border-color: #cad5eb;
    background-color: #f0f3f9;
}

.dragremind {
    padding-top: 2em;
    clear: both;
}

/* ================= */

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    border-bottom: 1px solid;
}

li:nth-child(odd) {
    background-color: azure;
    background-color: #ddd;
}

li:nth-child(1) {
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    background: aliceblue;
    background-color: cornsilk;
}